<html>
  <head>
    <link href="{{ STATIC_URL }}bootstrap/css/simplex-bootstrap.min.css"
	  rel="stylesheet"/>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-reponsive.css"
	  rel="stylesheet"/>
    <title>Kristina 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
