{% extends "accounts/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="hero-unit">
        <h1>Ha en bra dag!</h1>
        <p>Nu känner du väl att livet är lättare, återkom igen imorgon!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <div class="well">
        <div class="control-group">
	  <h1>Logga in igen?</h1>
	  <p><a href="{% url 'django.contrib.auth.views.login' %}">
	      Jag vill logga in mig igen
	  </a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}




