{% extends "accounts/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="hero-unit">
        <h1>Kristina</h1>
        <p>Logga in for att skicka underbara brev till denna fina tös!</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <div class="well">
	<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
          <div class="control-group">
            <div class="alert alert-block" id="alert" style="display: none">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <b>Warning!</b> You best check yourself, you're not looking so good.
	    </div>
	    {% if form.errors %}
	    <p>Authentication error</p>
	    {% endif %}template
	    {% csrf_token %}
	    {{ form.username.label_tag }}
            <div class="controls">
	      {{ form.username }}
            </div>
          </div>
	  <div class="control-group">
	    {{ form.password.label_tag }}
            <div class="controls">
	      {{ form.password }}
            </div>
          </div>
	  <input type="submit" class="btn btn-block btn-info btn-large"
		 id="login">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}




