<!doctype html>
<html>
  
  <head>
    <link href="{{ STATIC_URL }}bootstrap/css/simplex-bootstrap.min.css"
	  rel="stylesheet"/>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-reponsive.css"
	  rel="stylesheet"/>
    <title>Kristina 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'django.contrib.auth.views.logout' %}">
	    {{ user }}</a>
          <div class="navbar-content">
            <ul class="nav">
              <li {% if active == 'write' %}class="active"{% endif %}>
                <a href="{% url 'write' %}">Skriv</a> 
              </li>
              <li {% if active == 'compliments' %}class="active"{% endif %}>
                <a href="{% url 'compliments' %}">Komplimanger</a> 
              </li>
	      <li {% if active == 'video' %}class="active"{% endif %}>
		<a href="{% url 'video' %}">Filmer</a>
	      </li>
              <li {% if active == 'history' %}class="active"{% endif %}>
                <a href="{% url 'history' %}">Historik</a> 
              </li>
              <li {% if active == 'settings' %}class="active"{% endif %}>
                <a href="{% url 'settings' %}">Inställningar</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% block contents %}
    {% endblock %}

    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

    {% block scripts %}
    {% endblock %}

  </body>

</html>
