{% extends "kristina/base.html" %}
{% load videotags %}
{% load quotetags %}
{% load kristinatags %}


{% block contents %}
    <div class="container">
      <div class="hero-unit">
        <h1>Komplimanger</h1>
        <p>
	  När du känner dig glad, skriv massa vackra saker om Kristina.
	  När du känner dig ledsen kan du alltid läsa vad för fint du kommer
	  att skicka till Kristina. Det gör dig glad!
	</p>
      </div>
      <div id="compliment_form">
	<form method="post" action="{% url 'compliments' %}">
	  {% csrf_token %}
	  {{ form }}
	  <button type="submit" "btn btn-block btn-primary btn-large" id="submit">
	    Spara komplimangen för att skicka till Kristina senare
	  </button>
	</form>
      </div>
      <div id="compliments">
	{% for q in quotes %}
	<p>{% print_quote  q%}</p>
	{% if not foorloop.last %}
	<hr/>
	{% endif %}
	{% endfor %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- script src="{{ STATIC_URL }}kristina/history.js"></script -->
{% endblock %}

