{% extends "kristina/base.html" %}
{% load videotags %}
{% load quotetags %}
{% load kristinatags %}


{% block contents %}
    <div class="container">
      <div class="hero-unit">
        <h1>Historik</h1>
        <p>När du känner dig nere kan du alltid läsa gamla mail</p>
      </div>
      <div id="lovestories">
	{% for love in lovestories %}
	<h1>{{ love.title }}</h1>
	<div class="well">
	  <span class="label label-success">Skickad {{ love.sent }}</span>
	  {% print_addresses love.id %}
	</div>
	{% print_quote love.quote.id %}
	{% print_text love.id %}
	{% embedd_video love.video.id %}
	{% if not forloop.last %}<hr/>{% endif %}
	{% endfor %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- script src="{{ STATIC_URL }}kristina/history.js"></script -->
{% endblock %}

