{% extends "kristina/base.html" %}

{% block contents %}
    <div class="container">
      <div class="hero-unit">
        <h1>Inställningar</h1>
        <p>För att göra livet enklare har jag här ett antal inställningar
	  jag tycker mig behöva.</p>
      </div>
      <form action="{% url "settings" %}" method="post"
	    class="form-horizontal">
	{% csrf_token %}
	<div class="alert alert-block" id="sender-alert" style="display: none">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <b>Warning!</b>You best check yourself, you're not looking so good.
	</div>
	
	{% for field in form %}
	{% if not field.errors %}
	<div class="control-group">
	{% else %}
	<div class="control-group error">
	{% endif %}
	  <label class="control-label" for="{{ field.html_name }}">
          {{ field.label }}</label>
	  <div class="controls">{{ field }}</div>
	</div>
	{% endfor %}
	

	<button type="submit" class="btn">Spara inställningarna</button>
      </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}kristina/settings.js"></script>
{% endblock %}

