<address>
  From: <a href="mailto:{{ from_addr }}">{{ from_addr }}</a><br/>
  To:
    {% for addr in to_addr %}
    <a href="mailto:{{ addr }}">{{ addr }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
</address>
