{% extends "kristina/base.html" %}
{% load videotags %}


{% block contents %}
    <div class="container">
      <div class="hero-unit">
        <h1>Filmer</h1>
        <p>
	  Kristina blir visserligen glad över ett fint ord från dig men hon
	  förtjänar mer. Hon förtjänar en liten paus att titta på en film.
	  Här kan du klistra in Vimeo och Youtube-filmer för henne att titta på.
	</p>
      </div>
      <div id="compliment_form">
	<form method="post" action="{% url 'video' %}">
	  {% csrf_token %}
	  {{ form }}
	  <button type="submit" "btn btn-block btn-primary btn-large" id="submit">
	    Spara filmen för att visa Kristina vid ett senare tillfälle
	  </button>
	</form>
      </div>
      <div id="video">
	{% for v in videos %}
	{% present_video v %}
	{% if not foorloop.last %}
	<hr/>
	{% endif %}
	{% endfor %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
<!-- script src="{{ STATIC_URL }}kristina/history.js"></script -->
{% endblock %}

