{% extends "kristina/base.html" %}
{% load videotags %}
{% load quotetags %}


{% block contents %}
    <div class="container">
      <div class="hero-unit">
        <h1>Kärleksbreven</h1>
        <p>För att Kristina är en så fin människa så måste du skicka
          ett brev varje dag med fina ord och fina filmer att titta
          på.</p>
      </div>

      <form action="{% url 'write' %}" method="post">
	{% csrf_token %}
	{{ form.from_addr }}
	{{ form.sent }}
        <div class="container">
          <div class="control-group">
            <div class="row">
              <div class="span6">
                <div class="control-group">
                  <div class="controls">
		    {{ form.to_addr.label_tag }}
		    {{ form.to_addr.errors }}
		    {{ form.to_addr }}
		    {{ form.title.label_tag }}
		    {{ form.title.errors }}
		    {{ form.title }}
                  </div>
                </div>
              </div>
              <div class="span6">
                <div class="control-group">
                  <div class="controls">
                    {{ form.video.label_tag }}
		    {{ form.video.errors }}
		    {{ form.video }}
		    {{ form.quote.label_tag }}
		    {{ form.quote.errors }}
		    {{ form.quote }}
                  </div>
                </div>
              </div>
            </div>
            <div class="controls">
              {{ form.more_text.label_tag }}
	      {{ form.more_text.errors }}
	      {{ form.more_text }}
              <div class="form-actions">
                <div class="alert" id="mail-alert" style="display: none">
                  <button type="button" class="close"
			  data-dismiss="alert">×</button>
                  <b>Warning!</b>You best check yourself, you're not
                  looking so good.</div>
                <button type="submit" class="btn btn-block btn-primary btn-large"
			id="mail-send">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}kristina/write.js"></script>
{% endblock %}

